body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #212121;
  margin: 0;
  padding: 0;
}

header {
  background-color: #50717b;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.5em;
}

header nav a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
  font-size: 1em;
}


h2 {
  border-bottom: 2px solid #8ecccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #8ecccc;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #e8e8e8;
}

.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  font: bolder;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #212121;
  font-weight: bold;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  color: #ffffffbf;
  width: 90%;
  max-width: 400px;
}

.popup-content h2 {
  margin-bottom: 1rem;
}

.popup-content form label {
  display: block;
  margin: 1rem 0 0.5rem;
}

.popup-content form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #8ecccc;
  border-radius: 5px;
  background-color: #3a4042;
  color: #ffffff;
}

.btn-submit {
  background-color: #8ecccc;
  color: #000000b6;
  font-weight: bold;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 1rem;
}

.btn-submit:hover {
  background-color: #50717b;
}

.btn-close {
  background-color: #3a4042;
  color: #ffffff;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-close:hover {
  background-color: #8ecccc;
}




footer {
  background-color: #212121;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
}

footer a {
  color: #8ecccc;
  text-decoration: none;
}


