/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffffcb;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #212121;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #8ecccc;
  font-weight: bold;
}

.navbar nav a.config {
  background-color: #3a4042;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.content {
  text-align: center;
  padding: 2rem;
}

.content h1 {
  font-size: 2rem;
}

.subtitle {
  color: #8ecccc;
  margin-bottom: 2rem;
}

.cards {
  display: flex;
  justify-content: center;
  width: 70%;
  margin:auto;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  background-color: #212121;
  border: 1px solid #3a4042;
  border-radius: 8px;
  overflow: hidden;
  width: 350px;
  max-width: 800px;
}

.card img {
  width: 100%;
  max-height: 240px;
  min-height: 200px;
  height: auto;
}

.card-content {
  padding: 1rem;
}

.card-content h2 {
  font-size: 1.2rem;
  margin: 0 0 0.5rem;
}

.card-content p {
  font-size: 0.9rem;
  color: #cccccc;
}

.btn-reservar {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  font-size: 1rem;
  color: #000000a2;
  background-color: #8ecccc;
  font-weight:bolder;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.btn-reservar:hover {
  background-color: #50717b;
}

.btn-reservar:active {
  background-color: #3a4042;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  font: bolder;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #212121;
  font-weight: bold;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  color: #ffffffbf;
  width: 90%;
  max-width: 400px;
}

.popup-content h2 {
  margin-bottom: 1rem;
}

.popup-content form label {
  display: block;
  margin: 1rem 0 0.5rem;
}

.popup-content form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #8ecccc;
  border-radius: 5px;
  background-color: #3a4042;
  color: #ffffff;
}

.btn-submit {
  background-color: #8ecccc;
  color: #000000b6;
  font-weight: bold;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 1rem;
}

.btn-submit:hover {
  background-color: #50717b;
}

.btn-close {
  background-color: #3a4042;
  color: #ffffff;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-close:hover {
  background-color: #8ecccc;
}