
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
}

.title-container {
  text-align: center;
  margin: 20px 0;
}

.title-container .date {
  color: #50717b;
  font-size: 14px;
  margin-bottom: 10px;
}

.title-container .title {
  color: #212121;
  font-size: 32px;
  margin: 0;
}

.title-container .subtitle {
  color: #3a4042;
  font-size: 18px;
  margin-top: 5px;
}

.content-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.cards {
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;

}

.cards app-big-card {
  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  
}

.footer-container {
  width: 100%;
  background-color: #212121;
  color: #8ecccc;
  padding: 10px 0;
  text-align: center;
  
}
