<nav class="nav-bar-container">
    <app-nav-bar></app-nav-bar>
</nav>
<div class="title-container">
    <p class="date">December 5, 2024</p>
    <h1 class="title">Reserva de sala</h1>
    <p class="subtitle">Escolha entre as salas abaixo</p>
</div>
<div class="content-container">
    <ol class="cards">
        <app-big-card></app-big-card>
        <app-big-card></app-big-card>
        <app-big-card></app-big-card>
        <app-big-card></app-big-card>
        <app-big-card></app-big-card>
        <app-big-card></app-big-card>
    </ol>
</div>
<footer class="footer-container">
    <app-footer></app-footer>
</footer>